<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <div class="container">
    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
      &#9776;
    </button>
    <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar">
      <a class="navbar-brand" href="">Dream Bean</a>

      <div class="nav navbar-nav">
        <a class="nav-item nav-link active" href="#">
          Home <span class="sr-only">(current)</span>
        </a>
        <a class="nav-item nav-link" href="#">Products</a>
        <a class="nav-item nav-link" href="#">Checkout</a>
        <a class="nav-item nav-link" href="#">Sign out</a>
      </div>

      <ul class="nav navbar-nav pull-xs-right">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Cart</a>
          <div class="dropdown-menu">
            <span>The Cart Placeholder</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>