<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <div class="container">
    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
      &#9776;
    </button>
    <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar">
      <a class="navbar-brand" href="#">Dream Bean</a>

      <div class="nav navbar-nav">
        <a class="nav-item nav-link active" href="#">
          Home <span class="sr-only">(current)</span>
        </a>
        <a class="nav-item nav-link" href="#">Products</a>
        <a class="nav-item nav-link" href="#">Checkout</a>
        <a class="nav-item nav-link" href="#">Sign out</a>
      </div>

      <ul class="nav navbar-nav pull-xs-right">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Cart</a>
          <div class="dropdown-menu">
            <span>The Cart Placeholder</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- /.navbar -->
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <div class="card-header">
          Quick Shop
        </div>
        <div class="card-block">
          <div class="input-group">
            <input type="text" class="form-control"
                   placeholder="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-secondary"
                      type="button">Go!</button>
            </span>
          </div>
        </div>
      </div>
      <!-- /.card -->
      <div class="card">
        <div class="card-header">
          Categories
        </div>
        <div class="card-block">
          <div class="list-group">
            <a href="#" class="list-group-item">All</a>
            <a href="#" class="list-group-item">Meat</a>
            <a href="#" class="list-group-item">Seafood</a>
            <a href="#" class="list-group-item">Bakery</a>
            <a href="#" class="list-group-item">Dairy</a>
            <a href="#" class="list-group-item">Fruit & Vegetables</a>
          </div><br>
        </div>
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
<footer class="footer">
  <div class="container">
    <address>
      <strong>Contact Info</strong><br>
      0000 Market St, Suite 000, San Francisco, CA 00000, (123) 456-7890, <a href="mailto:#">support@dream-bean.com</a>
    </address>
  </div>
</footer>
