<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <div class="container">
    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
      &#9776;
    </button>
    <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar">
      <a class="navbar-brand" href="#">Dream Bean</a>

      <div class="nav navbar-nav">
        <a class="nav-item nav-link active" href="#">
          Home <span class="sr-only">(current)</span>
        </a>
        <a class="nav-item nav-link" href="#">Products</a>
        <a class="nav-item nav-link" href="#">Checkout</a>
        <a class="nav-item nav-link" href="#">Sign out</a>
      </div>

      <ul class="nav navbar-nav pull-xs-right">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Cart</a>
          <div class="dropdown-menu">
            <span>The Cart Placeholder</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- /.navbar -->
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <div class="card-header">
          Quick Shop
        </div>
        <div class="card-block">
          <div class="input-group">
            <input type="text" class="form-control"
                   placeholder="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-secondary"
                      type="button">Go!</button>
            </span>
          </div>
        </div>
      </div>
      <!-- /.card -->
      <div class="card">
        <div class="card-header">
          Categories
        </div>
        <div class="card-block">
          <div class="list-group">
            <a href="#" class="list-group-item">All</a>
            <a href="#" class="list-group-item">Meat</a>
            <a href="#" class="list-group-item">Seafood</a>
            <a href="#" class="list-group-item">Bakery</a>
            <a href="#" class="list-group-item">Dairy</a>
            <a href="#" class="list-group-item">Fruits & Vegetables</a>
          </div>
        </div>
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
    <div class="col-md-9">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-lg-4">
          <div class="card">
            <img class="card-img-top img-fluid center-block product-item" src="http://placehold.it/270x171" alt="Product 1">
            <div class="card-block text-xs-center">
              <h4 class="card-title">Product 1</h4>
              <h4 class="card-subtitle"><span class="tag tag-success">$10</span></h4>
              <hr>
              <div class="btn-group" role="group">
                <button class="btn btn-primary">Buy</button>
                <button class="btn btn-info">Info</button>
              </div>
            </div>
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
        <div class="col-xs-12 col-sm-6 col-lg-4">
          <div class="card">
            <img class="card-img-top img-fluid center-block product-item" src="http://placehold.it/270x171" alt="Product 2">
            <div class="card-block text-xs-center">
              <h4 class="card-title">Product 2</h4>
              <h4 class="card-subtitle"><span class="tag tag-danger"><s>$20</s> &gt; $5</span></h4>
              <hr>
              <div class="btn-group" role="group">
                <button class="btn btn-primary">Buy</button>
                <button class="btn btn-info">Info</button>
              </div>
            </div>
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
        <div class="col-xs-12 col-sm-6 col-lg-4">
          <div class="card">
            <img class="card-img-top img-fluid center-block product-item" src="http://placehold.it/270x171" alt="Product 3">
            <div class="card-block text-xs-center">
              <h4 class="card-title">Product 3</h4>
              <h4 class="card-subtitle"><span class="tag tag-success">$50</span></h4>
              <hr>
              <div class="btn-group" role="group">
                <button class="btn btn-primary">Buy</button>
                <button class="btn btn-info">Info</button>
              </div>
            </div>
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
        <div class="col-xs-12 col-sm-6 col-lg-4">
          <div class="card">
            <img class="card-img-top img-fluid center-block product-item" src="http://placehold.it/270x171" alt="Product 4">
            <div class="card-block text-xs-center">
              <h4 class="card-title">Product 4</h4>
              <h4 class="card-subtitle"><span class="tag tag-success">$75</span></h4>
              <hr>
              <div class="btn-group" role="group">
                <button class="btn btn-primary">Buy</button>
                <button class="btn btn-info">Info</button>
              </div>
            </div>
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
        <div class="col-xs-12 col-sm-6 col-lg-4">
          <div class="card">
            <img class="card-img-top img-fluid center-block product-item" src="http://placehold.it/270x171" alt="Product 5">
            <div class="card-block text-xs-center">
              <h4 class="card-title">Product 5</h4>
              <h4 class="card-subtitle"><span class="tag tag-success">$120</span></h4>
              <hr>
              <div class="btn-group" role="group">
                <button class="btn btn-primary">Buy</button>
                <button class="btn btn-info">Info</button>
              </div>
            </div>
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
        <div class="col-xs-12 col-sm-6 col-lg-4">
          <div class="card">
            <img class="card-img-top img-fluid center-block product-item" src="http://placehold.it/270x171" alt="Product 6">
            <div class="card-block text-xs-center">
              <h4 class="card-title">Product 6</h4>
              <h4 class="card-subtitle"><span class="tag tag-success">$1500</span></h4>
              <hr>
              <div class="btn-group" role="group">
                <button class="btn btn-primary">Buy</button>
                <button class="btn btn-info">Info</button>
              </div>
            </div>
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
<footer class="footer">
  <div class="container">
    <address>
      <strong>Contact Info</strong><br>
      0000 Market St, Suite 000, San Francisco, CA 00000, (123) 456-7890, <a href="mailto:#">support@dream-bean.com</a>
    </address>
  </div>
</footer>