<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- Carousel container -->
      <div id="welcome-products" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#welcome-products"
              *ngFor="let category of slideCategories;let first=first; let i=index"
              attr.data-slide-to="{{i}}" [ngClass]="{active: first}"></li>
        </ol>

        <!-- Content -->
        <div class="carousel-inner" role="listbox">
            <div *ngFor="let category of slideCategories;let first=first"
                    class="carousel-item" [ngClass]="{active: first}">
                <db-category-slide
                [category]="category" (select)="selectCategory($event)">
                </db-category-slide>
            </div>
        </div>

        <!-- Previous/Next controls -->
        <a class="left carousel-control" href="#welcome-products" role="button" data-slide="prev">
          <span class="icon-prev" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#welcome-products" role="button" data-slide="next">
          <span class="icon-next" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

      </div>
    </div>
  </div>
  <!-- /.row -->
  <div class="row">
    <db-category-card *ngFor="let category of cardCategories"
      [category]="category" (select)="selectCategory($event)">
    </db-category-card>
  </div>
  <!-- /.row -->
</div>