<div class="container">
  <div class="row">
    <div class="col-md-12 table-bordered">
      <div class="product-menu">Logo and Menu</div>
    </div>
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <img class="img-fluid img-rounded center-block product-slide-item" src="http://placehold.it/1110x480" alt="">
    </div>
  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card">
        <img class="card-img-top center-block product-item" src="http://placehold.it/270x171" alt="Bakery">
        <div class="card-block">
          <h4 class="card-title">Bakery</h4>
          <p class="card-text">The best cupcakes, cookies, cakes, pies, cheesecakes, fresh bread, biscotti, muffins, bagels, fresh coffee and more.</p>
          <a href="#" class="btn btn-primary">Browse</a>
        </div>
      </div>
    </div>
    <!-- /.col -->
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card">
        <img class="card-img-top center-block product-item" src="http://placehold.it/270x171" alt="Takeaway">
        <div class="card-block">
          <h4 class="card-title">Takeaway</h4>
          <p class="card-text">It's consistently excellent, dishes are superb and healthily cooked with high quality ingredients.</p>
          <a href="#" class="btn btn-primary">Browse</a>
        </div>
      </div>
    </div>
    <!-- /.col -->
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card">
        <img class="card-img-top center-block product-item" src="http://placehold.it/270x171" alt="Dairy">
        <div class="card-block">
          <h4 class="card-title">Dairy</h4>
          <p class="card-text">A dairy product is food produced from the milk of mammals.<br><br></p>
          <a href="#" class="btn btn-primary">Browse</a>
        </div>
      </div>
    </div>
    <!-- /.col -->
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card">
        <img class="card-img-top center-block product-item" src="http://placehold.it/270x171" alt="Meat">
        <div class="card-block">
          <h4 class="card-title">Meat</h4>
          <p class="card-text">Only superior quality beef, lamb, and pork.<br><br><br></p>
          <a href="#" class="btn btn-primary">Browse</a>
        </div>
      </div>
    </div>
    <!-- /.col -->
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card">
        <img class="card-img-top center-block product-item" src="http://placehold.it/270x171" alt="Seafood">
        <div class="card-block">
          <h4 class="card-title">Seafood</h4>
          <p class="card-text">Great place to buy fresh and organic seafood at reasonable prices!<br><br></p>
          <a href="#" class="btn btn-primary">Browse</a>
        </div>
      </div>
    </div>
    <!-- /.col -->
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card">
        <img class="card-img-top center-block product-item" src="http://placehold.it/270x171" alt="Fruit & Veg">
        <div class="card-block">
          <h4 class="card-title">Fruit & Veg</h4>
          <p class="card-text">A variety of fresh fruits and vegetables.<br><br><br></p>
          <a href="#" class="btn btn-primary">Browse</a>
        </div>
      </div>
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->