<div class="card-deck-wrapper">
    <div class="card-deck">
        <div class="card" *ngFor="let product of products">
            <div class="card-header text-xs-center">
                {{product.title}}
            </div>
            <img class="card-img-top center-block product-item" src="{{product.imageS}}" alt="{{product.title}}">
            <div class="card-block text-xs-center" [ngClass]="setClasses(product)">
                <h4 class="card-text">Price: ${{product.price}}</h4>
            </div>
            <div class="card-footer text-xs-center">
                <button class="btn btn-primary" (click)="buy(product)">Buy Now</button>
                <a class="btn btn-secondary" [routerLink]="['/product', product.id]">More Info</a>
            </div>
            <div class="card-block">
                <p class="card-text">{{product.desc}}</p>
            </div>
        </div>
    </div>
</div>