body {
    padding-top: 50px;
}

.product-menu {
    height: 50px;
    margin-top: 22px;
}

.product-slide-item {
    margin-bottom: 25px;
}

.product-item {
    height: 171px;
    width: 100%;
    display: block;
}

.marketing {
    background-color: #f6eee3;
}

.carousel {
    margin-bottom: 12px;
}

.footer {
    padding-top: 5px;
    background-color: #f5f5f5;
}

