<div class="container">
  <div class="row">
    <div class="col-md-12 table-bordered">
      <div class="product-menu">Logo and Menu</div>
    </div>
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
<div class="container">
  <div class="row">
    <div class="col-md-12 table-bordered">
      <img class="img-fluid img-rounded center-block product-item" src="http://placehold.it/1110x480" alt="">
    </div>
  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 table-bordered">
      <a href="#">
        <img class="img-fluid center-block product-item" src="http://placehold.it/270x171" alt="">
      </a>
    </div>
    <!-- /.col -->
    <div class="col-xs-12 col-sm-6 col-md-4 table-bordered">
      <a href="#">
        <img class="img-fluid center-block product-item" src="http://placehold.it/270x171" alt="">
      </a>
    </div>
    <!-- /.col -->
    <div class="col-xs-12 col-sm-6 col-md-4 table-bordered">
      <a href="#">
        <img class="img-fluid center-block product-item" src="http://placehold.it/270x171" alt="">
      </a>
    </div>
    <!-- /.col -->
    <div class="col-xs-12 col-sm-6 col-md-4 table-bordered">
      <a href="#">
        <img class="img-fluid center-block product-item" src="http://placehold.it/270x171" alt="">
      </a>
    </div>
    <!-- /.col -->
    <div class="col-xs-12 col-sm-6 col-md-4 table-bordered">
      <a href="#">
        <img class="img-fluid center-block product-item" src="http://placehold.it/270x171" alt="">
      </a>
    </div>
    <!-- /.col -->
    <div class="col-xs-12 col-sm-6 col-md-4 table-bordered">
      <a href="#">
        <img class="img-fluid center-block product-item" src="http://placehold.it/270x171" alt="">
      </a>
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->